language: php
php:
  - '5.4'
  - '5.5'
  - '5.6'
  - '7.0'
dist: trusty
sudo: required
addons:
  apt:
    packages:
    - mysql-server-5.6
    - mysql-client-core-5.6
    - mysql-client-5.6

before_script:
  - mysql -u root -e "create database engelsystem;"
  - mysql -u root -e "use engelsystem;"
  - mysql -u root -e "engelsystem < db/install.sql;"
  - mysql -u root -e "engelsystem < db/install.sql;" 

script: cd test && phpunit

after_success:
  - bash <(curl -s https://codecov.io/bash)
addons:
    code_climate:
        repo_token: f18d878e6000ffe79bf07df5fc8a7655185edb13a8103d05e0de9fa9d80941f0
